<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--아래의 매퍼 태그안에서 특정 sql문을 작성할때는 dml의 종류에 따라 적합한 파라미터를 받아와야만
 한다. 이후 mapper.xml의 안에서 받아온 파라미터를 사용할때는 '#{파라미터 이름}'의 형식을 사용해
 원하는 파라미터들을 sql문 내부에서 참조해 사용한다.
-->
<!-- namespace 반드시 작성! -->
<mapper namespace="Board">
    <insert id="save" parameterType="board" useGeneratedKeys="true" keyProperty="id">
        insert into board_table(boardWriter, boardPass, boardTitle, boardContents, fileAttached)
        values (#{boardWriter}, #{boardPass}, #{boardTitle}, #{boardContents}, #{fileAttached})
    </insert>

    <insert id="saveFile" parameterType="boardFile">
        insert into board_file_table(originalFileName, storedFileName, boardId)
            values (#{originalFileName}, #{storedFileName}, #{boardId})
    </insert>

    <select id="list" resultType="board">
        select * from board_table order by id desc
    </select>

    <select id="findById" parameterType="Long" resultType="board">
        select * from board_table where id = #{id}
    </select>

    <select id="findFile" parameterType="Long" resultType="boardFile">
        select * from board_file_table where boardId = #{boardId}
    </select>

    <update id="updateHits" parameterType="Long">
        update board_table set boardHits = boardHits + 1 where id = #{id}
    </update>

    <update id="update" parameterType="board">
        update board_table set boardTitle = #{boardTitle}, boardContents = #{boardContents} where id=#{id}
    </update>

    <delete id="delete" parameterType="Long">
        delete from board_table where id = #{id}
    </delete>

    <select id="pagingList" parameterType="java.util.HashMap" resultType="board">
        select * from board_table order by id desc limit ${start}, #{limit}
    </select>
    <select id = "count" resultType="Integer">
        select count(id) from board_table
    </select>

    <select id="search" parameterType="java.util.HashMap" resultType="board">
        select id, boardWriter, boardTitle,
               date_format(createdAt, "%y-%m-%d %H:%i:%s") as createdAt, boardHits
        from board_table where ${type} like concat('%',#{q},'%') order by id desc
    </select>
</mapper>