<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Comment">
    <insert id="save" parameterType="comment">
        insert into comment_table1(commentWriter, commentContents, boardId)
        values (#{commentWriter}, #{commentContents}, #{boardId})
    </insert>
    <select id="findAll" parameterType="Long" resultType="comment">
        select commentId, commentWriter, commentContents,
               date_format(commentCreatedDate, "%y-%m-%d %H:%i:%s") as commentCreatedDate, boardId
        from comment_table1 where boardId = #{boardId} order by commentId desc
    </select>
</mapper>