<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Like">
    <insert id="save" parameterType="java.util.Map">
        insert into like_table(boardId, isClicked)
        values (#{boardId}, #{isClicked})
    </insert>
    <update id="update" parameterType="java.util.Map">
        update like_table set  isClicked=#{isClicked} where boardid=#{boardid}
    </update>

    <update id="upLike" parameterType="Long">
        update like_table set likeCount=likeCount+1, isClicked=true where boardId = #{boardId}
    </update>
    <update id="downLike" parameterType="Long">
        update like_table set likeCount=likeCount-1, isClicked=false where boardId = #{boardId}
    </update>

    <select id="findById" parameterType="Long" resultType="Long">
        select likeCount from like_table where boardId = #{boardId}
    </select>


</mapper>